$main-color:#8c0303;
$second-color:#eee9e3;
$third-color:#8B8C81;
$ancho:100%;
$divisor-footer:3;


@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  background-color: #eee9e3;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter; }

h1 {
  background-color: black;
  text-align: center;
  color: whitesmoke; }

h1 a {
  background-color: black;
  text-decoration: none;
  color: whitesmoke;
  height: 200px; }

h2 {
  font-size: 60px;
  color: black;
  font-weight: bolder;
  background-image: linear-gradient(to left, #8B8C81, #eee9e3);
  text-align: end;
  text-shadow: 1px 1px  #af7575;
  padding-right: 50px; }

p {
  font-size: 40px;
  justify-content: baseline;
  margin-top: 100px;
  margin-bottom: 100px; }

h3 {
  background-image: linear-gradient(to left, #8c0303, #8f4141);
  font-weight: lighter;
  text-align: center;
  font-size: 40px;
  color: whitesmoke; }

h4 {
  font-size: 25px;
  margin-bottom: 10px; }

h6 {
  color: #5e0404;
  background-color: antiquewhite;
  font-size: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 10px 10px; }

ul ul {
  position: absolute;
  display: none;
  background-color: #8B8C81; }

ul ul li {
  display: block;
  background-color: #8B8C81; }

ul li:hover ul {
  display: block;
  background-color: #8B8C81; }
/*hasta aca*/

#calidadItem ul li {
  font-size: 25px;
  color: #5e0404;
  font-weight: 700; }

#calidadItem {
  margin: 100px;
  justify-content: space-around; }

#calidadItem ul {
  list-style: square inside url(../img/gears.png); }

/*CONTACTO FORM*/
#consultaForm {
  width: 50%;
  height: 600px;
  padding: 15px;
  border-color: #8B8C81;
  border-radius: 2%;
  background-color: #8B8C81;
  margin-top: 40px;
  margin-left: 25%; }

#consultaForm label, select, input, legend {
  background-color: #8B8C81; }

#tablePf {
  background-color: #5e0404;
  margin: 100px; }

.logoRedes {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 10px; }


.calidadSection {
  width: 100%;
  height: 400px; }

.calidadSection p {
  font-size: 40px;
  justify-content: baseline;
  margin-top: 100px; }

#form {
  align-content: center; }

#productosContacto {
  font-size: 30px;
  color: whitesmoke;
  text-decoration: none;
  background-image: linear-gradient(to left, #8c0303, #963c3c);
  margin-left: 45%; }

.contFormNosotros {
  width: 500px;
  height: 500px;
  margin-top: 100px;
  background-color: #5e0404;
  padding: 50px;
  border-radius: 10px; }

.estiloFormNosotros{
  background-color: #5e0404 ;
}

/*INICIO CLASSES*/
.contCert {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-content: center; }

.contCert_certificado {
  margin: 50px;
  width: 50%; }

.contCert_certificado_img {
  width: 50%; }

.logoCalidad {
  width: 176px;
  height: 176px; }

.logoAnmat {
  width: 300px;
  height: 176px; }

.footer_cont_bloque {
  border-right: #331111;
  border-right: 1px solid;
  width: 38%;
  height: auto;
  text-align: center;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem; }

.formInput {
  display: flex;
  flex-direction: column; }

.formInput input {
  background-color: #e9dddd;
  font-weight: 700; }

.formInput_boton {
  background-color: #8c0303;
  width: 20%;
  align-self: center;
  margin-top: 15px; }

.formInput_label {
  color: #8c0303;
  font-weight: bold; }

.formInput_legend {
  background-color: #8c0303;
  font-weight: bolder;
  text-align: center;
  font-size: 20px;
  color: #e9dddd; }


/*CÓdigo para arreglar Bootstrap*/

.navbar {
   z-index: 100;
}

a:active {

  background-color: black;
}

.no-bg{

  background-color:transparent;
}

.bg-main{
  background-color:#8B8C81;
}

.bg-main2{
  background-color: #8c0303;
}

.fnt-light{
  color:whitesmoke;
}